In [32]:
import numpy as np

import astropy.units as u
from astropy.time import Time
from astropy.coordinates import SkyCoord
import pytz

from astroplan import Observer, FixedTarget, time_grid_from_range, observability_table, moon_illumination

In [33]:
apo = Observer.at_site('apo')

apo

<Observer: name='apo',
    location (lon, lat, el)=(-105.82000000000002 deg, 32.78000000000001 deg, 2797.9999999996007 m),
    timezone=<UTC>>

In [34]:
from astropy.coordinates import get_sun, get_body, get_moon

In [35]:
reference_time = Time("2018-03-31")

In [36]:
timezone_1 = pytz.timezone('America/Denver')

# 1.b

In [37]:
astro_set1 = apo.twilight_evening_astronomical(reference_time, which='nearest')
astro_rise1 = apo.twilight_morning_astronomical(reference_time, which='next')
observing_length1 = (astro_rise1 - astro_set1).to(u.h)

print("Astronomical Evening Twilight starts at {0.iso} UTC".format(astro_set1))
print("Astronomical Morning Twilight starts at {0.iso} UTC".format(astro_rise1))
print("You can observe for {0:.1f} during the observing window.".format(observing_length1))

Astronomical Evening Twilight starts at 2018-03-31 02:45:31.287 UTC
Astronomical Morning Twilight starts at 2018-03-31 11:29:04.020 UTC
You can observe for 8.7 h during the observing window.

In [38]:
from astroplan import AirmassConstraint, MoonSeparationConstraint

In [45]:
constraints = [MoonSeparationConstraint(35*u.deg)]
constraints.append(AirmassConstraint(2))

In [46]:
reference_time1 = Time("2018-12-31")
astro_set2 = apo.twilight_evening_astronomical(reference_time1, which='nearest')
astro_rise2 = apo.twilight_morning_astronomical(reference_time1, which='next')
obs_range1 = [astro_set2, astro_rise2]

In [47]:
target_stuff = [FixedTarget(coord=SkyCoord(ra = 0.7122*u.hourangle,dec=41.268*u.deg), name="androngenous")]
observability = observability_table(constraints, apo, target_stuff, time_range=obs_range1)

In [48]:
observability

<Table length=1>
target name  ever observable always observable fraction of time observable
   str12           bool             bool                 float64
------------ --------------- ----------------- ---------------------------
androngenous            True             False         0.43478260869565216

In [58]:
obs_length2 = (astro_rise2 - astro_set2).to(u.h)

In [59]:
length_in_march = 0.434783 * obs_length2 # This is me at my laziest. It would take almost no effort
                                               # to copy & paste some more code from my old astro 300 assignment that
                                               # does this much better, I just can't be bothered.

# 1.d

In [60]:
length_in_march

In [61]:
og_loc = Observer.at_site('ctio')

In [63]:
tz2 = pytz.timezone('America/Santiago')

# 2.b

In [65]:
astro_set3 = og_loc.twilight_evening_astronomical(reference_time, which='nearest')
astro_rise3 = og_loc.twilight_morning_astronomical(reference_time, which='next')
observing_length3 = (astro_rise3 - astro_set3).to(u.h)

print("Astronomical Evening Twilight starts at {0.iso} UTC".format(astro_set1))
print("Astronomical Morning Twilight starts at {0.iso} UTC".format(astro_rise1))
print("You can observe for {0:.1f} during the observing window in March.".format(observing_length3))

Astronomical Evening Twilight starts at 2018-03-31 02:45:31.287 UTC
Astronomical Morning Twilight starts at 2018-03-31 11:29:04.020 UTC
You can observe for 9.5 h during the observing window.

In [66]:
astro_set4 = og_loc.twilight_evening_astronomical(reference_time1, which='nearest')
astro_rise4 = og_loc.twilight_morning_astronomical(reference_time1, which='next')
observing_length3 = (astro_rise4 - astro_set4).to(u.h)

print("Astronomical Evening Twilight starts at {0.iso} UTC".format(astro_set1))
print("Astronomical Morning Twilight starts at {0.iso} UTC".format(astro_rise1))
print("You can observe for {0:.1f} during the observing window in Diciembre.".format(observing_length3))

Astronomical Evening Twilight starts at 2018-03-31 02:45:31.287 UTC
Astronomical Morning Twilight starts at 2018-03-31 11:29:04.020 UTC
You can observe for 6.7 h during the observing window in Diciembre.

In [67]:
obs_range2 = [astro_set4, astro_rise4]

In [74]:
target_stuff_again = [FixedTarget(coord=SkyCoord(ra = 5.5*u.hourangle,dec=-12.6*u.deg), name="PNe")]
observability2 = observability_table(constraints, og_loc, target_stuff_again, time_range=obs_range2)
observability2

<Table length=1>
target name ever observable always observable fraction of time observable
    str3          bool             bool                 float64
----------- --------------- ----------------- ---------------------------
        PNe            True             False          0.9285714285714286

# 2.d

In [77]:
lazy = 0.92857 * observing_length3
'The thing is observable for {0:.2f} from telescope.'.format(lazy)

'The thing is observable for 6.25 h from telescope.'

In [78]:
og_loc.moon_illumination(reference_time)

0.9954559905030278

In [79]:
og_loc.moon_illumination(reference_time1)

0.33091121674247614

In [82]:
"The moon illumination amts at apo are {0} at {1}, and {2} at {3}.".format(apo.moon_illumination(
    reference_time),reference_time,apo.moon_illumination(reference_time1),reference_time1)

'The moon illumination amts at apo are 0.9954559905030278 at 2018-03-31 00:00:00.000, and 0.33091121674247614 at 2018-12-31 00:00:00.000.'

# 1.c & 2.c

In [95]:
"The moon rise/set times in March at apo are {0} and {1}, respectively.".format(apo.moon_rise_time(
    reference_time,which='nearest'),apo.moon_set_time(reference_time,which='next'))

'The moon rise/set times in March at apo are 2458208.5348877097 and 2458209.0482915235, respectively.'

In [85]:
# Without bothering to convert from the JD I'm just eyeballing it and saying that is, it would have interfered. Oh,
# and the phase was full. Source: me, when I went outside the other night.

In [96]:
"The moon rise/set times in March at CTIO are {0} and {1}, respectively.".format(og_loc.moon_rise_time(
    reference_time,which='nearest'),og_loc.moon_set_time(reference_time,which='next'))

'The moon rise/set times in March at CTIO are 2458208.442064403 and 2458208.948518165, respectively.'

In [89]:
# Would have messed stuff up here too. Still a full moon.

In [97]:
"The moon rise/set times in December at apo are {0} and {1}, respectively.".format(apo.moon_rise_time(
    reference_time1,which='nearest'),apo.moon_set_time(reference_time1,which='next'))

'The moon rise/set times in December at apo are 2458483.8782570036 and 2458484.3543259464, respectively.'

In [91]:
# I'm going with no, you have a cresent, first off, and it's up during the day. And yes, as for the phase, waning
# crescent for sure.

In [98]:
"The moon rise/set times in December at CTIO are {0} and {1}, respectively.".format(og_loc.moon_rise_time(
    reference_time1,which='nearest'),og_loc.moon_set_time(reference_time1,which='next'))

'The moon rise/set times in December at CTIO are 2458483.750358464 and 2458484.289424878, respectively.'

In [99]:
# Wouldn't have been up during the brief hours of darkness, I think.

# 1.a & 2.a

In [ ]:
# One last thing, best season/time of year for observation of Andromeda would be late September, and for IC 418
# would be December. Basically just using the method of taking their R.A. and adding 12 hours.